export("SCSR_Estim")
export("SCSR_InfoCrit")
export("SpatReg_Extract")
export("SpatReg_GoF")
export("SpatReg_Perf")
export("SpatReg_PseudoR2")
export("Elbow_finder")
export("SC_AMKM")

import("spatialreg")
import("ggplot2")
importFrom("ggspatial", "annotation_map_tile", "annotation_north_arrow", "annotation_scale")
import("performance")
importFrom("spatialreg", "lagsarlm", "errorsarlm", "lmSLX","create_WX")
importFrom("spdep","lag.listw","mat2listw","listw2mat")
importFrom("sp", "coordinates")
importFrom("sf", "st_as_sf","st_drop_geometry","st_distance","st_coordinates")
importFrom("utils","data","globalVariables")
importFrom("rlang","check_installed")
importFrom("performance","performance")
importFrom("stats","lm","kmeans","coef", "dnorm", "logLik", "var", "vcov","as.formula", "model.frame","prcomp","na.omit","dist")
importFrom("graphics","points","segments","axis")
importFrom("methods","as")
importFrom("dplyr","mutate","across")
importFrom("NbClust","NbClust")


