export("SCSR_Estim")
export("SCSR_InfoCrit")
export("SpatReg_Extract")
export("SpatReg_GoF")
export("SpatReg_Perf")
export("SpatReg_PseudoR2")
export("Elbow_finder")

import("spatialreg")
import("performance")
importFrom("spatialreg", "lagsarlm", "errorsarlm", "lmSLX","create_WX")
importFrom("spdep","lag.listw","mat2listw","listw2mat")
importFrom("sp", "coordinates")
importFrom("utils","data","globalVariables")
importFrom("rlang","check_installed")
importFrom("performance","performance")
importFrom("stats","lm","kmeans","coef", "dnorm", "logLik", "var", "vcov","as.formula", "model.frame")
importFrom("graphics","points","segments","axis")
importFrom("methods","as")
importFrom("dplyr","mutate","across")
